{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To FlaskApp</h1>
    <p class="lead">This application is built on the Python Flask framework</p>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div id="gradient_object1"></div>
          </div>
          <div class="col-sm">
            <div id="tracking_object1"></div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <div id="gradient_object2"></div>
            </div>
            <div class="col-sm">
              <div id="tracking_object2"></div>
            </div>
        </div>
      </div>
   
  </div>
{% endblock %}